$light-green: rgb(126, 213, 111);
$medium-green: rgb(85, 197, 122);
$dark-green: rgb(40, 180, 133);
$light-green-op: rgba(126, 213, 111, 0.8);

$dark-green-op: rgba(40, 180, 133, 0.8);
$primary-text-color: #777;
$color-white :#fff;
$color-black : #000;
$grey-darker : #333;
$color-gray-light-1 : #f7f7f7;
$color-gray-dark-1 : #999;
$color-gray-dark-2 : #333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size : 1.6rem